# Cache directories
.cache/
.huggingface/
model_cache/

# Virtual environment
llama_env/

# Output files (optional: include specific outputs if needed)
output/
fine-tuned-llama-lora/
fine-tuned/
Python-3.10.13/
python310/
Python-3.1013.tgz/
osloth/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
*.pyc
__pycache__/
